*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/build/
*.apk
*.aar
*.class
*.dex
app/build/intermediates/
app/build/outputs/
.gradle/
build/
build2/
out/
*.log
*.flat
